.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    margin-top: 6rem;
    font-size: 4rem;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30rem;
}
.formItem {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    width: 100%;
}
.formItem:not(:last-child) {
    margin-bottom: 1.2rem;
}
.formLabel {
    margin-bottom: 1rem;
    margin-left: .5rem;
}
.formInput,
.formSelect {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem;
    border-radius: var(--border-radius);
    border: 1px solid rgba(0,0,0,.1);
}
.formSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.formInput:focus,
.formButton:focus {
    outline: none;
}

.formItemWithTipWrapper {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: 1rem;
    align-items: center;
}
.formButton {
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: var(--border-radius);
    margin-top: 1rem;
    background-color: var(--color-blue);
    color: rgba(255,255,255,.9);
    font-weight: bold;
}