.wrapper {
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    position: relative;
}

.openSidebar {
    display: none;
}

@media(max-width: 768px) {
    .wrapper{
        display: block;
    }
    .openSidebar {
        display: block;
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
    }
}