.wrapper {
    grid-column: 2 / span 1;
    background: var(--color-light-grey);
    border-left: 3px solid rgba(0,0,0,.01);
    padding: 6rem 3rem;
    position: relative;
}
.closeSidebar {
    display: none;
}
.gameName {
    margin-bottom: 2rem;
}


.playersWrapper {
    margin-bottom: 4rem;
}
.columnHeader {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0
}
.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playerName {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    line-height: 1;
    margin: 0 0 .5rem 0;
    padding: 1rem;
    border-radius: 8px;
}
.playerName.yourTurn {
    color: white;
    background-color: var(--color-blue);
    border: 1px solid rgba(255,255,255,.1);
}
.playerIcon {
    font-size: 1.8rem;
    color: var(--color-blue);
    margin-left: 1rem;
}
.playerName.yourTurn .playerIcon {
    color: white;
}

.ruleList {
    font-size: 1.6rem;
    padding-left: 1.2rem;
}

.noRules {
    font-size: 1.6rem;
    color: var(--color-light-black);
}

.adminControls {
    display: flex;
    align-items: center;
}
.adminControl {
    font-size: 1.4rem;
    cursor: pointer;
}

.addPlayerWrapper {
    margin-top: 2rem;
}
.addPlayerInputWrapper {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-gap: .5rem;
}
.addPlayerInput {
    padding: .5rem;
    font-size: 1.8rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: #fafafa;
}
.addPlayerSmallButton {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    width: 3rem;
}
.addPlayerInput:focus,
.addPlayerButton:focus,
.addPlayerSmallButton:focus {
    outline: none;
}
.addPlayerButton {
    width: 100%;
    cursor: pointer;
    padding: .5rem 3rem;
    font-size: 1.8rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 200px;
    background-color: #fafafa;
}
.gameIdWrapper {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    
}
.gameIdLabel {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1rem;
}
.gameId {
    font-size: 1.6rem;
    padding: .5rem;
    background-color: white;
    border-radius: 3px;
    font-family: monospace;
    color: red;
    border: 1px solid rgba(0,0,0,.1);
}

@media(max-width: 768px) {
    .wrapper {
        position: absolute;
        grid-column: none;
        width: 80%;
        height: 100%;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .45s;
    }
    .closeSidebar {
        display: block;
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
    }
}