.wrapper {
    grid-column: 2 / span 1;
    background: var(--color-light-grey);
    border-left: 3px solid rgba(0,0,0,.01);
    padding: 4rem 3rem;
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
.closeSidebar {
    display: none;
}
.gameName {
    margin-bottom: 2rem;
}

.playersWrapper,
.rulesWrapper {
    margin-bottom: 4rem;
}
.columnHeader {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0
}
.player {
    margin: 0 0 2rem 0;
}
.playerName {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    line-height: 1;
    margin: 0 0 1rem 0;
}
.playerName.yourTurn {
    color: white;
    background-color: var(--color-blue);
    border: 1px solid rgba(255,255,255,.1);
}
.playerIcon {
    font-size: 1.8rem;
    color: var(--color-blue);
    margin-left: 1rem;
}
.playerName.yourTurn .playerIcon {
    color: white;
}

.playerAdminRow {
    display: none;
}
.playerAdminRow.open {
    display: flex;
}
.playerAdminButton {
    flex-basis: 0px;
    flex-grow: 1;
    font-size: 1.6rem;
    padding: .5rem;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: var(--border-radius-sm);
}
.playerAdminButton:not(:last-child) {
    margin-right: .5rem;
}

.adminControls {
    display: flex;
    align-items: center;
}
.adminControl {
    font-size: 1.4rem;
    color: #666;
    cursor: pointer;
}
.adminControl:not(:last-child) {
    margin-right: .5rem;
}
.addRuleWrapper {
    margin-top: 2rem;
}
.addInputWrapper,
.addRuleInputWrapper {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-gap: 1rem;
}
.addInput {
    grid-row: 1 / span 1;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: var(--border-radius-sm);
    background-color: #fafafa;
}
.smallButtonWrapper {
    grid-row: 2 / span 1;
}
.addSmallButton {
    font-size: 1.4rem;
    border-radius: var(--border-radius-sm);
    border: 1px solid rgba(0,0,0,.2);
    width: 6rem;
    height: 3rem;
}
.addSmallButton:not(:last-child) {
    margin-right: 1rem;
}
.addInput:focus,
.addButton:focus,
.addSmallButton:focus {
    outline: none;
}
.addButton {
    width: 100%;
    cursor: pointer;
    padding: .5rem 3rem;
    font-size: 1.8rem;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 200px;
    background-color: #fafafa;
}

.rulesList {
    padding-left: 2rem;
}
.noRules {
    font-size: 1.6rem;
    font-family: monospace;
    color: #666;
}
.rule {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}
.rule:not(:last-child) {
    margin-bottom: 1rem;
}
.gameIdWrapper {
    
}
.gameIdLine {
    display: flex;
    align-items: center;
    justify-content: center;;
}
.gameIdLabel {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1rem;
}
.gameId {
    font-size: 1.6rem;
    padding: .5rem;
    background-color: white;
    border-radius: 3px;
    font-family: monospace;
    color: red;
    border: 1px solid rgba(0,0,0,.1);
}
.gameIdTip {
    font-size: 1.4rem;
    color: #666;
    font-family: monospace;
    margin: 0;
    text-align: center;
}

@media(max-width: 768px) {
    .wrapper {
        position: absolute;
        grid-column: none;
        width: 80%;
        height: 100%;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .45s;
    }
    .closeSidebar {
        display: block;
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
    }
}