.wrapper {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.pullCardWrapper {
    margin: 2rem;
    width: fit-content;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pullCardImage {
    width: 12rem;
}
.pullCardRemaining {
    font-size: 1.2rem;
    margin-top: .5rem;
    font-weight: bold;
    letter-spacing: .5px;
}

.lastPulledWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lastPulledCardImage {
    width: 18rem;
}
.lastPulledCardOutcome {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

@media(max-width: 768px) {
    .wrapper {
        height: 100%;
    }
    .pullCardImage {
        width: 8rem;
    }
}