
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100%;
}
.tooltipWrapper {
    position: absolute;
    top: 3rem;
    right: 3rem;
}
.header,
.subhead {
    color: var(--color-text-medium);
    text-align: center;
}
.header {
    font-size: 6rem;
    margin: 6rem 0 1rem 0;
}
.subhead {
    font-size: 3rem;
    font-weight: 400;
    margin: 0 0 6rem 0;
}

.joinButton,
.startButton {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    border: 2px solid rgba(0,0,0,.1);
    width: 30rem;
    padding: 1rem;
    border-radius: 500px;
    cursor: pointer;
}
.joinButton:focus,
.startButton:focus {
    outline: none;
}

.joinButton {
    background-color: var(--color-blue);
    color: white;
}

.startButton {
    border: 2px solid var(--color-blue);
    color: var(--color-blue);
    background-color: white;
}

.tipWrapper {
    position: absolute;
    bottom: 4rem;
}